.mac-book-pro-142 .rectangle-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 756px;
  height: 891px;
}
.mac-book-pro-142 .rectangle-2 {
  position: absolute;
  top: 0px;
  right: -2px;
  width: 758px;
  height: 949px;
}
.mac-book-pro-142 .image-2 {
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  width: 121px;
  height: 121px;
}
.mac-book-pro-142 .home {
  margin-right: 8.5px;
  width: 112.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #000000;
}
.mac-book-pro-142 .sobre-ns-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #000000;
}
.mac-book-pro-142 .sobre-ns {
  display: flex;
  box-sizing: border-box;
}
.mac-book-pro-142 .comprar {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #000000;
}
.mac-book-pro-142 .contato {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #000000;
}
.mac-book-pro-142 .nav {
  margin: 49px 0 55px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 410.9px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-142 .shopping-cart {
  margin: 45px 0 51px 0;
  width: 25px;
  height: 25px;
}
.mac-book-pro-142 .container-1 {
  margin: 0 94px 17px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1338px;
  box-sizing: border-box;
}
.mac-book-pro-142 .celebre-avida-com-nossos-deliciosos-bolos-edoces {
  margin: 107px 87px 0 0;
  display: inline-block;
  width: 1082px;
  overflow-wrap: break-word;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 47px;
  line-height: 1.234;
  color: #482A5D;
}
.mac-book-pro-142 .group-3 {
  margin-bottom: 79px;
  width: 199px;
  height: 202px;
}
.mac-book-pro-142 .container {
  margin: 0 0 13px 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1368px;
  box-sizing: border-box;
}
.mac-book-pro-142 .compre-para-entrega-ou-retirada-no-local {
  margin: 0 64px 84px 64px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #000000;
}
.mac-book-pro-142 .entrega {
  overflow-wrap: break-word;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.643;
  color: #FFFAF0;
}
.mac-book-pro-142 .container-6 {
  box-shadow: 0px -1px 28px 0px rgba(255, 250, 240, 0.84);
  border-radius: 6px;
  background: #BC8ADF;
  position: relative;
  margin-right: 14px;
  display: flex;
  padding: 13px 23.4px 14px 0;
  width: 147px;
  box-sizing: border-box;
}
.mac-book-pro-142 .retira-no-local {
  overflow-wrap: break-word;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.643;
  color: #333333;
}
.mac-book-pro-142 .container-4 {
  box-shadow: 0px -1px 23px 0px rgba(188, 138, 223, 0.83);
  border-radius: 6px;
  background: #FFFAF0;
  position: relative;
  display: flex;
  padding: 13px 4.2px 14px 0;
  width: 147px;
  box-sizing: border-box;
}
.mac-book-pro-142 .container-2 {
  margin: 29px 0 120px 0;
  display: flex;
  flex-direction: row;
  width: 308px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-pro-142 .group-2 {
  position: relative;
  width: 199px;
  height: 199px;
}
.mac-book-pro-142 .container-5 {
  margin: 0 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 914px;
  box-sizing: border-box;
}
.mac-book-pro-142 .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-pro-142 .image-4 {
  background: url('../assets/images/image_4.png') 50% / cover no-repeat;
  position: absolute;
  top: 211px;
  right: 66px;
  width: 566px;
  height: 499px;
}
.mac-book-pro-142 .container-7 {
  position: absolute;
  right: 15px;
  bottom: 216px;
  width: 149px;
  height: 145px;
}
.mac-book-pro-142 {
  background: #FFFAF0;
  display: flex;
  padding: 16px 24px 0 56px;
  width: 1512px;
  box-sizing: border-box;
}
